/* Declarando Variables */
:root{
	/*Colores*/
	--primary: #5385C1;
	--colorTexto: #9a9a9a;
	--colorTextoLight:  #bbbbbb;
	--blanco: #FFFFFF;
	--grisDelicado: #f2f2f2d1;
	--negro: #000000;
	/*Fuentes*/
	--fnormal: 'Relaway';
	--flight: 'Relaway Light';
	--fmedium: 'Relaway Medium';
	--fblack:  'Relaway Black';
	--fbold: 'Relaway Bold';
	--fsemibold: 'Relaway Semibold';
	--fextrabold: 'Relaway Extrabold';
}

/* Estilos Globales */
*, *:after, *:before {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

/* Estilos Generales */
html{
	box-sizing: inherit;
	font-size: 62.5%;
}

body {
	font-size: 16px;
	font-family: var(--fnormal);
}

a{ text-decoration: none; }

h1, .h1{ font-size: calc(4.8rem + 1vw); }
h2, .h2{ font-size: calc(3.9rem + 1vw); }
h3, .h3{ font-size: calc(3.1rem + 1vw); }
h4, .h4{ font-size: calc(2.5rem + 1vw); }
h5, .h5{ font-size: calc(2rem + 1vw); }
h6, .h6{ font-size: calc(1.3rem + 1vw); }

img{max-width: 100%;}

/* Reutilizables */
.container{
	max-width: 120rem;
	width: 85%;
	margin: 0 auto;
}
.subtitle_{
	color: var(--grisDelicado);
	font-family: var(--flight);
	font-size: 1.9rem;
}
.boton{
	background-color: var(--primary);
    color: var(--blanco);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    font-family: var(--fsemibold);
   	display: inline-block;
}

/* banner Top */
.bannerTop{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 70vh;
	color: var(--blanco);
	padding: 4rem 0;
	border-top: 8px solid var(--primary);
}
.bannerTop-container{
	min-height: inherit;
    display: flex;
    flex-direction: column;
}
.bannerTop-top{
	display: flex;
	justify-content: space-between;
}
.bannerTop-top .title-logo{	font-family: var(--fbold); }
.bannerTop-top a{ color: var(--blanco); }

.bannerTop-middle{
	flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bannerTop-middle .title{
	margin: 0;
	font-family: var(--flight);
    font-weight: 100;
    color: var(--colorTextoLight);
}
.bannerTop-middle .subtitle{
	font-family: var(--flight);
	color: var(--colorTextoLight);
	margin-top: 1.5rem;
}

/* Navigation */
.navigation a{
	color: var(--blanco);
}
.navigation a:nth-child(2){ margin: 0 2rem; }

/* Leyendas */
.legends{
	padding: 8rem 0;
	display: flex;
	justify-content: space-between;
}
.legends-item:nth-child(2){
	border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
	padding: 0 3rem;
	margin: 0 3rem;
}

.legends-item .title{
	color:  var(--primary);
	font-size: 2.2rem;
	font-family: var(--flight)
}
.legends-item .description{
	margin: 3rem 0;
	line-height: 2.5rem;
	color: var(--colorTexto);
}
/* Profiles User */
.profiles-users{
	background-color: var(--primary);
	color:  var(--blanco);
	text-align: center;
	padding: 10rem 0;
}
.profiles-users .title{ font-family: var(--flight); margin-bottom: 1.5rem; }
.profiles-users .subtitle{
	color: var(--grisDelicado);
	font-family: var(--flight);
	font-size: 1.9rem;
}
.profiles-users_container{
	margin-top: 8rem;
	display: flex;
	justify-content: space-between;
	column-gap: 6rem;
	flex-wrap: wrap;
}
.profiles-users_user{
	border: 1px solid #ffffff5c;
	padding: 3.5rem 2rem;
	flex: 1 0 fit-content;
}
.profiles-users_user-img{ 
	border-radius: 50%;
	margin-bottom: 3rem;
}
.profiles-users_user-name{ font-size: 2rem; margin-bottom: 1rem; }
.profiles-users_user-subtext{ color: var(--grisDelicado); }

/* Posts Blogs */
.posts-blog{
	color:  var(--colorTexto);
	text-align: center;
	padding: 10rem 0;
}
.posts-blog .title{color: var(--primary);}
.posts-blog .subtitle{color: var(--colorTexto);}
.posts-blog_content{
	margin-top: 5rem;
}
@media (min-width: 768px) {
	.posts-blog_content{
	    display: flex;
	    column-gap: 3rem;
	    justify-content: space-between;
	}
}
.posts-blog_blog{
	text-align: left;
	margin-bottom: 3rem;
}
@media (min-width: 768px) {
	.posts-blog_blog{
	    margin-bottom: 0;
	}
}
.posts-blog_blog-image img{
	width: 100%;
}
.posts-blog_blog-title{
	margin: 2rem 0;
	color: var(--primary);
	font-size: 2.2rem;
}
.posts-blog_blog-description{
	margin-bottom: 2rem;
}
/* Footer */
.footer{
	display: flex;
	justify-content: space-between;
	padding: 5rem 0;
    border-top: 2px solid #e7e7e7;
}
.footer-text{
    flex: 0 1 40%;
    color: #afafaf;
    font-size: 1.5rem;
}
.footer-socialnetworks{
	display: flex;
    column-gap: 2rem;
}
.socialnetworks img{
	width: 1.8rem;
    height: 1.8rem;
}